
			<div class="row">
				<main class="col-md-12">

					<h1> HELLO, WELCOME TO MY PAGE!</h1>
					<p> This is the current page, About</p>
					<h2> Introduction</h2>
					<P> My name is Kalpana Gurung and My id Number is 131447229. I am currently enrolled in the Business Information 
						Technology (BTT) program. I am doing this website as the part of assignment 3 of the course WEB 700. </P>	
				
				</main>
			</div>
