
			<div class="row">
				<main class="col-md-12">

					<h1>Hello Welcome to my website</h1>
					<p>This is my page and I will be demonstrating HTML5 principles and techniques, including routing in Express.  </p>
					
					<h2> About the Website </h2>
					<p> This website is designed to showcase the principles and techniques of HTML5, as well as demonstrate routing in Express. It consists of three static views: Home,
						 About, and HTML Demo. Additionally, there are five routes that supply data, offering various functionalities. 
						Here is the relevant links</p>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/htmlDemo">HTML Demo</a></li>
						<li><a href="/students">All Students</a></li>
						<li><a href="/students?course=3">Students by Course</a></li>
						<li><a href="/tas">All TAs</a></li>
						<li><a href="/courses">All Courses</a></li>
					</ul>
					
					<h2>HTML5 Introduction </h2>
					<p>This site utilize HTML5. HTML5 is the latest version of Hypertext Markup Language, which is the standard markup language used for structuring and presenting content on the World Wide Web.
						 It introduces new features and enhancements that improve the functionality and flexibility of web pages. </p>
					

				</main>
			</div>
